$main-color:lightgoldenrodyellow; 
$heading-size:54pt; 
$sub-heading:18pt;
@import 'position.scss';

body {
    font-family: sans-serif;
    h1 {
        font-size: $heading-size;
        text-align: center;
    }
    #movie-container {
        @include contentPosition; 
        .movielist {
            @include innerPosition;
            background-color:orangered;
            box-shadow: 2px 8px 10px #888888;
            text-align:center;
            margin-bottom:40px;
            h2 {
                font-size: $sub-heading;
                padding:15px;
                border-bottom:2px solid black;
                width:90%;
                text-align:left;
            }
            img {
                width:90%;
            }
            p {
                font-size: 12pt;
            }
        }

    }

}